.container {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 22px;
    color: white;
}

.navbar {
    height: 60px;
    background-color: darkcyan;
    position: relative;
}

.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
    margin-right: 60px;
}

.nav-elements ul a {
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.nav-elements ul a:focus {
    color: white;
    font-weight: 700;
    position: relative;
}

.common-button {
    padding: 0.5rem 1rem;
    font-size: 14px;
    background-color: white;
    font-weight: 600;
    margin: 10px;
    border: 2px solid darkcyan;
    border-radius: 10px;
    cursor: pointer;
}

.common-button:focus {
    background-color: darkcyan;
    color: white;
    font-weight: 600;
}

.post-list-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 1.2rem;
}

.form-add-post {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 40px;
}

.form-input {
    padding: 0.6rem;
    min-width: 30%;
    max-width: 30%;
    border: 2px solid darkcyan;
    border-radius: 10px;
    font-size: 18px;
}

.detail-container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 40px;
}

.title-wrap {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.symbol-input {
    display: none;
}

.color-red {
    color: red;
}

.color-black {
    color: black;
}
